<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="css/cosmo.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h1>Chatr</h1>
			</div>
		</div>
		<div class="row">
			<%- body %>
		</div>
	</div>
</body>
</html>