<div class="row">
	
	<div class="col-sm-8 col-sm-offset-2">
		
		<div class="row">
			
			<div class="col-sm-12">
			
				<form method="post">
			
					<div class="form-group">
						<label for="username">
							Username
						</label>
						<input type="text" class="form-control" id="username" placeholder="username" name="username">
					</div>
			
					<div class="form-group">
						<label for="password">
							Password			
						</label>
						<input type="text" class="form-control" name="password" id="password" placeholder="password">
					</div>
			
					<button class="btn btn-primary btn-block">Login</button>
			
				</form>
			
			</div>
			
		</div>

		<div class="row top-margin">
			
			<button class="btn btn-block facebook">Facebook<button>
		
			<button class="btn btn-block google">Google<button>
			
		</div>

	</div>

</div>